<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link id="stylesheet" rel="stylesheet" href="/adminAssets/assets/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar" id="sidebar">
                <div class="text-center mb-4">
                    <img src="/adminAssets/assets/images/main-logo.png" alt="Books Paradise" class="img-fluid">
                </div>
                <a href="/admin/dashboard">Dashboard</a>
                <a href="/admin/products">Products</a>
                <a href="/admin/users">Users</a>
                <a href="/admin/Orders">Orders</a>
                <a href="/admin/return-orders">Returned Orders</a>
                <a href="/admin/coupons">Coupons</a>
                <a href="/admin/category">Categories</a>
                <a href="/admin/reports">Reports</a>
                <a href="/admin/logout">Log Out</a>
            </div>
            <div class="col-md-12">
                <div class="top-bar" id="top-bar">
                    <div class="d-flex align-items-center">
                        <span class="toggle-btn" id="toggle-btn"><i class="fas fa-bars fa-2x"></i></span>
                        <div class="search-bar">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="user-info d-flex align-items-center">
                        <span>Hi Admin</span>
                        <i class="fas fa-user-circle fa-2x ml-3"></i>
                    </div>
                </div>
                <div class="main-content" id="main-content">
                    <div class="header-content">
                        <h2>Add Products</h2>
                    </div>
                    <div class="row custom-row">
                        <div class="col-lg-8">
                            <div class="product-add-form">
                                <h5>Product Details</h5>
                                <form action="/admin/addProducts" method="POST" id="product-form" enctype="multipart/form-data">
                                    <label class="form-label">Product title</label>
                                    <input type="text" name="productName" id="productName" class="form-control" placeholder="Product title" required>
                                    <div class="error-message" id="productNameError"></div>

                                    <label class="form-label">Full description</label>
                                    <textarea name="description" id="description" class="form-control" rows="5" placeholder="Full description"></textarea>
                                    <div class="error-message" id="descriptionError"></div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Regular price</label>
                                            <input name="regularPrice" id="regularPrice" type="number" class="form-control" placeholder="Regular price" required>
                                            <div class="error-message" id="regularPriceError"></div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Promotional Price</label>
                                            <input name="salePrice" id="salePrice" type="number" class="form-control" placeholder="Promotional Price" required>
                                            <div class="error-message" id="salePriceError"></div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">Category</label>
                                            <select name="category" id="category" class="form-control">
                                                <option value="">Select Category</option>
                                                <% for (let i=0; i < category.length; i++) { %>
                                                    <option value="<%= category[i].name %>">
                                                        <%= category[i].name %>
                                                    </option>
                                                <% } %>                                                
                                            </select>
                                            <div class="error-message" id="categoryError"></div>
                                        </div>
                                    </div>
                                    <label class="form-label">Language</label>
                                    <input name="language" id="language" type="text" class="form-control" placeholder="Language">
                                    <div class="error-message" id="languageError"></div>
                                
                                    <label class="form-label">Author title</label>
                                    <input name="authorTitle" id="authorTitle" type="text" class="form-control" placeholder="Author title">
                                    <div class="error-message" id="authorTitleError"></div>
                                
                                    <label class="form-label">Author details</label>
                                    <input name="authorDetails" id="authorDetails" type="text" class="form-control" placeholder="Author details">
                                    <div class="error-message" id="authorDetailsError"></div>
                                
                                    <label class="form-label">Quantity</label>
                                    <input name="quantity" id="quantity" type="number" class="form-control" placeholder="Quantity">
                                    <div class="error-message" id="quantityError"></div>

                                    
                                    <div class="product-form-bottom">

                                        <!-- input file for image upload but the button is display is set as none -->
                                        <input type="file" id="product-image-upload" name="productImage" accept="image/png, image/jpeg" multiple class="d-none">
                        
                                        <!-- using the label the image is uploaded -->
                                        <label for="product-image-upload" class="btn btn-warning">
                                            <i class="fas fa-upload"></i> &nbsp; Choose Images
                                        </label>
                        
                                        <!-- the product preview will generate based on what we select -->
                                        <div id="product-image-preview"></div>
                        
                        
                                        <!-- the form submission and cancel buttons -->
                                        <div>
                                            <a href="/admin/products" class="btn btn-secondary">Cancel</a>
                                            <button class="btn btn-success" type="submit">Add Product</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="cropper-modal">
                        <div id="cropper-container">
                            <img id="cropper-image">
                            <div id="cropper-buttons">
                                <button id="crop-cancel" class="btn btn-secondary">Cancel</button>
                                <button id="crop-confirm" class="btn btn-primary">Crop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.all.min.js"></script>

    <script>
        document.getElementById('toggle-btn').addEventListener('click', function() {
            var sidebar = document.getElementById('sidebar');
            var topBar = document.getElementById('top-bar');
            var mainContent = document.getElementById('main-content');
            sidebar.classList.toggle('active');
            topBar.classList.toggle('active');
            mainContent.classList.toggle('active');
        });

        
        const productImageUpload = document.getElementById('product-image-upload');
        const productImagePreview = document.getElementById('product-image-preview');
        const cropperModal = document.getElementById('cropper-modal');
        const cropperImage = document.getElementById('cropper-image');
        const cropCancel = document.getElementById('crop-cancel');
        const cropConfirm = document.getElementById('crop-confirm');
        let cropper;
        let files = [];
        let currentFileIndex;

        productImageUpload.addEventListener('change', () => {
            productImagePreview.innerHTML = '';
            files = Array.from(productImageUpload.files);
            if (files.length > 4) {
                alert("Maximum file count is 4");
                productImageUpload.value = '';
                files = [];
                return;
            }
            if (files.length === 0) {
                alert("Minimum file count is 1");
                productImageUpload.value = '';
                files = [];
                return;
            }
            files.forEach((file, index) => {
                const reader = new FileReader();
                reader.onload = (e) => {
                    const imgElement = document.createElement('img');
                    imgElement.src = e.target.result;
                    imgElement.classList.add('preview-img');

                    const imageBox = document.createElement('div');
                    imageBox.classList.add('product-image-box');
                    imageBox.appendChild(imgElement);

                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.classList.add('delete-button');
                    deleteButton.addEventListener('click', () => {
                        files.splice(index, 1);
                        imageBox.remove();
                    });
                    imageBox.appendChild(deleteButton);

                    productImagePreview.appendChild(imageBox);

                    imgElement.addEventListener('click', () => {
                        cropperImage.src = e.target.result;
                        cropperModal.style.display = 'block';
                        cropper = new Cropper(cropperImage, {
                            aspectRatio: 1,
                            viewMode: 1,
                            movable: true,
                            zoomable: true,
                            rotatable: true,
                            scalable: true,
                        });
                        currentFileIndex = index;
                    });
                };
                reader.readAsDataURL(file);
            });
        });

        cropCancel.addEventListener('click', () => {
            cropperModal.style.display = 'none';
            cropper.destroy();
        });

        cropConfirm.addEventListener('click', () => {
            const canvas = cropper.getCroppedCanvas();
            canvas.toBlob((blob) => {
                const croppedFile = new File([blob], files[currentFileIndex].name, { type: 'image/jpeg' });
                files[currentFileIndex] = croppedFile;

                const reader = new FileReader();
                reader.onload = (e) => {
                    const imgElement = productImagePreview.children[currentFileIndex].querySelector('.preview-img');
                    imgElement.src = e.target.result;
                };
                reader.readAsDataURL(croppedFile);

                cropperModal.style.display = 'none';
                cropper.destroy();
            });
        });

            
document.getElementById('product-form').addEventListener('submit', async function (event) {
    event.preventDefault(); // Prevent the default form submission
    
    // Call the validation function
    if (!validateForm(event)) {
        return; // If validation fails, prevent form submission
    }

    const form = event.target;
    const formData = new FormData(form);

    try {
        const response = await fetch(form.action, {
            method: 'POST',
            body: formData
        });

        const result = await response.json();

        if (result.status === 'success') {
            Swal.fire({
            icon: 'success',
            title: 'Success',
            text: result.message,
            confirmButtonText: 'OK'
        }).then(() =>{

            window.location.href = "/admin/products"; 
        })
        } else {
            Swal.fire({
            icon: 'error',
            title: 'Failed to add Product',
            text: result.message,
            confirmButtonText: 'OK'
        })
        }
    } catch (error) {
        console.error('Error:', error);
        alert('An error occurred while adding the product.');
    }
});

function validateForm(event) {
    var productName = document.getElementById('productName').value.trim();
    var description = document.getElementById('description').value.trim();
    var regularPrice = document.getElementById('regularPrice').value;
    var salePrice = document.getElementById('salePrice').value;
    var language = document.getElementById('language').value.trim();
    var authorTitle = document.getElementById('authorTitle').value.trim();
    var authorDetails = document.getElementById('authorDetails').value.trim();
    var quantity = document.getElementById('quantity').value;
    
    var errors = false;

    document.querySelectorAll('.error-message').forEach(function(errorMessage) {
        errorMessage.innerText = "";
    });

    if (!productName) {
        document.getElementById('productNameError').innerText = "Product Name is required";
        errors = true;
    }

    if (!description) {
        document.getElementById('descriptionError').innerText = "Description is required";
        errors = true;
    }

    if (regularPrice <= 0) {
        document.getElementById('regularPriceError').innerText = "Must be greater than 0";
        errors = true;
    }

    if (salePrice <= 0) {
        document.getElementById('salePriceError').innerText = "Must be greater than 0";
        errors = true;
    }

    if (!category) {
        document.getElementById('categoryError').innerText = "Category is required";
        errors = true;
    }

    if (!language) {
        document.getElementById('languageError').innerText = "Language is required";
        errors = true;
    }

    if (!authorTitle) {
        document.getElementById('authorTitleError').innerText = "Author title is required";
        errors = true;
    }

    if (!authorDetails) {
        document.getElementById('authorDetailsError').innerText = "Author details are required";
        errors = true;
    }

    if (quantity <= 0) {
        document.getElementById('quantityError').innerText = "Must be greater than 0";
        errors = true;
    }

    if (errors) {
        Swal.fire({
            icon: 'error',
            title: 'Form Validation Error',
            text: 'Please correct the highlighted errors and try again.',
            confirmButtonText: 'OK'
        });
    }

    return !errors;
}                    


    </script>
</body>
</html>
